.vis-container {
	width: 100%
}

.page {
	width: 1024px;
    margin: auto;
    padding: 50px;
    padding-top: 10px;
    font-family: 'Trebuchet MS', sans-serif;
    background-color: white;
}

#toc {
    background-color: #eaf0e6;
    border: 1px solid #aaa;
    display: table;
    font-size: 95%;
    padding: 30px;
    width: auto;
    border-radius: 5px;
    line-height: 25px;
    margin-left: auto;
    margin-right: auto;
}

#toc li {
    list-style: outside none none !important;
}

a:link {
    color: black;
    text-decoration: none;
}

a:visited {
    color: black;
}

a:hover {
    color: purple;
}

p {
    padding-left: 10px; padding-right: 10px;
}

hr {
    border: 0;
    height: 1px;
    background-image: linear-gradient(to right, rgba(0, 0, 0, 0), rgba(0, 0, 0, 0.75), rgba(0, 0, 0, 0));
}